.cardContainer > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.cardContainer > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.cardContainer > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.cardContainer > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.cardContainer > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

#url2Decode {
  width: 600px;
}

#pubName {
  width: 250px;
}

#subName {
  width: 250px;
}

#url {
  width: 600px;
}

#json {
  width: 500px;
}

#xorName {
  width: 600px;
}
